

table {
    position: absolute;
    top: 5%;
    margin-left: 0%;
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:0%;
    
}

td {
    font-family:sans-serif;
    font-size:80%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
    }

#tableau1 {
    margin-left: 10%;

}

#tableau2 {
    margin-left: 60%;
}

